body{
    overflow: hidden;
}

.sun{
    position:absolute;
    z-index: -1;
    width:80%;
    padding-top:80%;
    border-radius: 50%;
    height:auto;
    top:10%;
    left:10%;
}

.sun0{
    height:800px;
    width:800px;
    padding-top:0%;
    top:30%;
}

.ground{
    height:30%;
    width:100%;
    position:absolute;
    top:70%;
    background-color:rgb(51, 9, 9);
}
.trees{
    height:30%;
    width:100%;
    position:absolute;
    top:70%;
    transform-origin:bottom;
}

.sky{
    background-color:rgba(74, 74, 139, 0.788);
    height:70%;
    width:100%;
    position:relative;
    z-index:-2;
    overflow: hidden;
}
.clouds{
    height:70%;
    width:100%;
    position:absolute;
    z-index:2;
    overflow: hidden;
}

.groundStripe{
    width:100%;
    height:5%;

}

.tree{
    position:absolute;
  
}
.treeBody{
    position:relative;
    z-index: 1;
    /* width:100%;
    height:50%; */


}
.treeShadow{
  position:absolute;
  z-index:1;
  bottom:50%;
  transform-origin:bottom;

      
}
.treeCastShadow{
    /* width:100%; 
    height:50%; */
    transform-origin:top;
    z-index:2;

      
}

.cloud{
    position: absolute;
}

@keyframes float {
    0%{right:200%}
    100%{left:-50%}
    
}




